{% extends 'base.html.twig' %}

{% block title %}Profil - {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block javascripts %}
    <script src="/js/profil/upload.js" defer></script>
{% endblock %}

{% block body %}
    {# Informations #}
    <h1>Profil de {{ user.prenom }} {{ user.nom }}</h1>
    {# Candidatures #}
    <section>
        <h2>Candidatures</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                {% if candidatures|length > 0 %}                
                    {% for candidature in candidatures %}
                        <tr>
                            <td>{{ candidature.date|date("d/m/Y") }}</td>
                            <td>
                                {% if candidature.acceptee == true %} 
                                    Acceptée
                                {% elseif candidature.acceptee is null %} 
                                    En cours de traitement
                                {% elseif candidature.acceptee == false %} 
                                    Refusée
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            Vous n'avez pas de candidature pour le moment
                            <a href="{{ path("upload") }}">Postuler</a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
    {% if user.status == constant('App\\Utils\\Constants::ACCEPTED_STATUS') %}
        <section>
            <h2>Dépôt de vos pièces justificatives</h2>
            <p>
                Félicitations ! Vous avez été acceptée en tant que conducteur chez
                Granger SAS. Pour pouvoir finaliser votre embauche, veuillez déposer
                les pièces suivantes :
            </p>
            {% for document in documents %}
                <form class="document_form" enctype="multipart/form-data" action="{{ path('profil_upload_documents') }}" method="POST">
                    {{ document.nom }} :
                    <input type="file" name="{{ document.slug }}" />
                    {{ document.description }}
                    <input type="submit" value="Déposer" />
                    <span class="upload_status">
                        {# Vide car rempli par le JS #}
                    </span>
                    {% if document.slug in uploadedDocs|keys %}
                        <span class="doc_status">
                            {% if uploadedDocs[document.slug].accepted %}
                                Pièce acceptée
                            {% elseif uploadedDocs[document.slug].accepted is null %}
                                Pièce en cours de traitement
                            {% else %}
                                Pièce refusée
                            {% endif %}
                        </span>
                    {% endif %}
                </form>
            {% endfor %}
        </section>
    {% endif %}
    {# Modifier les informations #}
    <section>
        <h2>Modifier vos informations</h2>
        {% form_theme updateForm "forms/global/global_form_template.html.twig" %}
        {{ form_start(updateForm) }}
            {{ form_row(updateForm.plainPassword.first, {
                "label": "Entrez un nouveau mot de passe",
                "required": false
            }) }}
            {{ form_row(updateForm.plainPassword.second, {
                "label": "Confirmez le nouveau mot de passe",
                "required": false
            }) }}
            {{ form_rest(updateForm) }}
            <input type="submit" value="Modifier" />
        {{ form_end(updateForm) }}
    </section>
    {# Bouton suppression #}
    <a href="{{ path("profil_delete") }}">Supprimer le compte</a>
    {# Bouton validation #}
    <a href="{{ path("profil_validation") }}">Déjà employé ? Faites valider votre profil</a>
{% endblock %}
