{% extends 'base.html.twig' %}

{% block title %}Validation du profil - {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
    {% if canAsk %}
        Êtes-vous sûr ? 
        <a href="{{ path('profil_validation') }}?confirm=true">Oui</a> 
        <a href="{{ path('profil') }}">Non</a>
    {% else %}
        <h2>Vous ne pouvez pas effectuer de demande de vérification</h2>
        <a href="{{ path('profil') }}">Votre profil</a>
    {% endif %}
{% endblock %}
