{% extends 'base.html.twig' %}

{% block title %}Admin - Candidatures{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% if dontExist is defined and dontExist %}
        <p>Ce profil n'existe pas</p>
    {% elseif didntUpload is defined and didntUpload %}
        <p>Cet utilisateur n'a pas déposé de pièces</p>
    {% else %}
        {% if view == "candidature" %}            
            <h1>Candidature de {{ candidat.prenom }} {{ candidat.nom }} pour le poste {{ candidature.poste.name }}</h1>
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <input type="submit" value="Envoyer la réponse" />
            {{ form_end(form) }}
        {% elseif view == "history" %}
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Statut</th>
                        <th>Poste</th>
                    </tr>
                </thead>
                <tbody>
                    {% if candidatures is empty %}
                        <tr>
                            <td colspan="3">{{ candidat.prenom }} {{ candidat.nom }} n'a pas encore fait de candidature</td>
                        </tr>
                    {% else %}                    
                        {% for candidature in candidatures %}
                            <tr>
                                <td>{{ candidature.date|date("d/m/Y") }}</td>
                                <td>{% if candidature.acceptee %} Acceptée {% else %} Refusée {% endif %}</td>
                                <td>{{ candidature.poste.name }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}