{% extends 'base.html.twig' %}

{% block title %}Admin - Documents{% endblock %}

{% block body %}
    <section>
        <h2>Documents pour la candidature</h2>
        {% for doc in candidatureDocs %}
            <div>
                {{ doc.nom }} 
                <a href="{{ path('admin_delete_document', {id: doc.id}) }}">
                    Supprimer
                </a>
            </div>
        {% endfor %}
    </section>
    <section>
        <h2>Documents pour l'embauche</h2>
        {% for doc in embaucheDocs %}
            <div>
                {{ doc.nom }} 
                <a href="{{ path('admin_delete_document', {id: doc.id}) }}">
                    Supprimer
                </a>
            </div>
        {% endfor %}
    </section>
    <section>
        <h2>Documents pour devenir conducteur</h2>
        {% for doc in driverDocs %}
            <div>
                {{ doc.nom }} 
                <a href="{{ path('admin_delete_document', {id: doc.id}) }}">
                    Supprimer
                </a>
            </div>
        {% endfor %}
    </section>
    <section>
        <h2>Ajouter un document</h2>
        {{ form_start(
            addForm, {action: path('admin_add_document') }
        ) }}
            {{ form_rest(addForm) }}
            <input type="submit" value="Ajouter" />
        {{ form_end(addForm) }}
    </section>
{% endblock %}