{% extends 'base.html.twig' %}

{% block title %}Admin - Editer le contenu{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin/edit.css" />
{% endblock %}

{% block javascripts %}
    <script src="/js/class/WYSIWYG/WYSIWYG.js" defer></script>
    <script src="/js/admin/edit_script.js" defer></script>
{% endblock %}

{% block body %}
    {% if error.global is defined %}
        <div>{{ error.global }}</div>
    {% endif %}

    <div class="image_manager">
        <div class="close_button"></div>

        <section class="upload_image_container">
            {{ form_start(uploadImageForm) }}
                {{ form_rest(uploadImageForm) }}
                <input type="submit" value="Ajouter" />
            {{ form_end(uploadImageForm) }}
        </section>

        <div class="images_container">
            <img class="loader" style="display:block" src="/img/admin/loader.gif" alt="Loader" />
            <div class="images"></div>
        </div>

        <div class="upload_btn_container">
            <button>Ajouter une image</button>
        </div>

        <div class="add_btn_container">
            <button>Ajouter cette image</button>
        </div>

        <div class="select_btn_container">
            <button>Séléctionner une image</button>
        </div>
    </div>

    <section>
        <h1>
            Modifier le texte de la page 
            <a href="{{ path("home") }}">d'accueil</a> :
        </h1>
        <form action="#" method="POST" class="edit_form">
            <div class="WYSIWYG WYSIWYG_accueil"></div>
            <div class="hidden homeContent">{{ homeContent|raw }}</div>
                {% if error.global is defined %}
                    <div>{{ error.global }}</div>
                {% endif %}
            <input type="hidden" name="home" class="editedContent" value="" />
            <input type="submit" value="Modifier la page" />
        </form>
    </section>

    <section>
        <h1>
            Modifier le texte de la page 
            <a href="{{ path("about") }}">à propos</a> :
        </h1>
        <form action="#" method="POST" class="edit_form">
            <div class="WYSIWYG WYSIWYG_about"></div>
            <div class="hidden aboutContent">{{ aboutContent|raw }}</div>
            <input type="hidden" name="about" class="editedContent" value="" />
            <input type="submit" value="Modifier la page" />
        </form>
    </section>
{% endblock %}