{% extends 'base.html.twig' %}

{% block title %}Admin - Accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% if app.user.realRole == "ROLE_ADMIN" or app.user.realRole == "ROLE_RH" %}
        <a href="{{ path("admin_candidatures") }}">Accéder aux candidatures</a>
        <a href="{{ path("admin_validations_requests") }}">Demandes de validation du profil</a>
        <a href="{{ path("admin_documents") }}">Documents à fournir</a>
        <a href="{{ path("admin_users_documents") }}">Documents fournis</a>
    {% endif %}
    {% if app.user.realRole == "ROLE_ADMIN" or app.user.realRole == "ROLE_EDITOR" %}
        <a href="{{ path("admin_edit") }}">Editer le contenu du site</a>
    {% endif %}
    {% if app.user.realRole == "ROLE_ADMIN" %}
        <a href="{{ path("admin_users") }}">Gérer les utilisateurs</a>
    {% endif %}
{% endblock %}