{% extends 'base.html.twig' %}

{% block title %}Déposer vos pièces{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/upload/style.css" />
{% endblock %}

{% block body %}
    {% if hasCandidature %}
        <h1>Vous avez déjà une candidature en cours merci de réessayer ultérieurement</h1>
    {% else %}
        {% form_theme uploadForm "forms/global/form_template.html.twig" %}
        {{ form_start(uploadForm) }}
            {# Affiche les erreurs si nécessaire #}
            {% for error in formErrors %}
                <div>
                    {{ error }}
                </div>
            {% endfor %}
            {{ form_row(uploadForm.poste) }}
            <div class="upload-area">
                {{ form_rest(uploadForm) }}
            </div>
            <input type="submit" value="Soumettre" />
        {{ form_end(uploadForm) }}
    {% endif %}
{% endblock %}
