{% extends 'base.html.twig' %}

{% block title %}Déposer vos pièces{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/upload/style.css" />
{% endblock %}

{% block javascripts %}
    <script src="/js/upload/script.js" defer></script>
{% endblock %}

{% block body %}
    {% if hasCandidature %}
        <h1>Vous avez déjà une candidature en cours merci de réessayer ultérieurement</h1>
    {% else %}
        {% form_theme uploadForm "forms/upload/upload_form_template.html.twig" %}
        {{ form_start(uploadForm) }}
            {# Affiche les erreurs si nécessaire #}
            {% for error in formErrors %}
                <div class="error">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form_widget(uploadForm.poste) }}
            <div class="upload-areas">
                <div class="area">
                    {{ form_row(uploadForm.cv) }}
                </div>
                <div class="area">
                    {{ form_row(uploadForm.lettre) }}
                </div>
            </div>
            <input type="submit" value="Soumettre" />
        {{ form_end(uploadForm) }}
    {% endif %}
{% endblock %}
