<div class="document">
    {{ doc.nom }}
    {% if doc.slug in userDocs|keys %}
        {% if userDocs[doc.slug].accepted %}
            Accepté 
            <a href="{{ path('admin_handle_document', {id: userDocs[doc.slug].id}) }}?status=renewal&user_id={{ user.id }}">
                Demande de renouvellement
            </a>
        {% elseif userDocs[doc.slug].accepted is not null %}
            Refusé 
            <a href="{{ path('admin_handle_document', {id: userDocs[doc.slug].id}) }}?status=renewal&user_id={{ user.id }}">
                Demande de renouvellement
            </a>
        {% else %}
            <a href="{{ path('admin_handle_document', {id: userDocs[doc.slug].id}) }}?status=accept&user_id={{ user.id }}">
                Accepter
            </a>
            <a href="{{ path('admin_handle_document', {id: userDocs[doc.slug].id}) }}?status=deny&user_id={{ user.id }}">
                Refuser
            </a>
        {% endif %}
    {% else %}
        En attente de l'utilisateur
    {% endif %}
</div>