{% extends 'base.html.twig' %}

{% block title %}Offre d'emploi : {{ offre.name }}{% endblock %}

{% block body %}
    {% if offre.online %}        
        <section class="infos">
            <h1>Offre {{ offre.name }}</h1>
            <em>Postée le {{ offre.date|date("d/m/Y à H:i:s") }}</em>
        </section>
        <section class="content">
            {{ offre.content|raw }}
        </section>
        <a href="{{ path("upload_offre", {offreID: offre.id}) }}">Postuler pour cette offre</a>
    {% else %}
        <h1>Désolé cette offre n'est plus disponible</h1>
    {% endif %}
{% endblock %}